@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
/* CSS reset stylesheet */

/* - Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

:root {
    --clr-auqua: hsl(192°, 37%, 48%);
    --clr-purple: hsl(268°, 34%, 53%);
    --clr-blackish-blue: hsl(240°, 21%, 20%);
    --clr-gray: hsl(240°, 10%, 57%);

    --clr-light-blue: hsl(192°, 90%, 77%);
    --clr-light-purple: hsl(268°, 100%, 86%);
    --clr-white: hsl(0°, 0%, 98%);
  
    --ff-primary: "Red Hat Display", sans-serif;
    --fs-neutral: 4rem;
    --fs-primary: 2.5rem;
    --fs-secondary: 1.125rem;
    --fs-h2: 1rem;
    --fw-regular: 500;  
    --fw-bold: 900;
  }
  /* css reset  */
  /* /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  body {
    min-height: 100vh;
    display: grid;
    font-family: 'Red Hat Display', sans-serif;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    text-align: center;
  }

  .people {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem; 
  }

  .hero-left {
    grid-column: 1;
  }

  .hero-right {
    grid-column: 2;
  }

  .greetings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 110%;
    color: hsla(239, 21%, 20%, 1);
  }

  .article {
    font-size: 1rem;
    font-weight: 500;
    line-height: 162.5%;
    color: hsla(239, 10%, 57%, 1);
  }

  .download, .btn {
    border: none;
    border-radius: 1.8125rem;
    color: #fff;
  }

  .version {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .download {
    padding: 1.1em 2.9rem;
    background-color: hsla(192, 37%, 48%, 1);
  }

  .btn {
    padding: 1.12rem 2.12rem;
    background-color: hsla(267, 34%, 53%, 1);
  }